.title {
  margin-bottom: 24px;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;

  text-align: center;
}

.message {
  margin: 0;
}

.signInButton {
  width: 100%;
}
