.root {
  --select-width: 210px;
  --select-icon-size: 24px;

  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: flex-start;
}

.label {
  cursor: pointer;

  font-family: var(--font-family-primary), sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 171%;
  color: var(--color-text-disabled);
}

.input {
  all: unset;

  box-sizing: border-box;
  min-width: 280px;
  padding: 6px 12px;
  border: 1px solid var(--color-text-secondary);
  border-radius: 2px;

  color: var(--color-text-disabled);

  &:focus {
    border: 1px solid var(--color-surface-primary);
    color: var(--color-surface-primary);
    background-color: var(--color-text-primary);
  }

  &:hover {
    border: 1px solid var(--color-text-disabled);
    color: var(--color-text-disabled);
  }

  &:active {
    border: transparent;
    color: var(--color-text-disabled);
    outline: 2px solid var(--color-primary);
  }

  &:disabled {
    border: 1px solid var(--color-text-secondary);
    color: var(--color-text-secondary);
  }
}

/* Стилизация defaultInput */

.inputWrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 280px; /* Задайте нужную ширину */

  input:disabled + .defaultIcn {
    fill: var(--color-text-secondary);
  }

  & .defaultIcn {
    cursor: pointer;

    position: absolute;
    top: 50%;
    right: 12px; /* Отступ справа внутри input */
    transform: translateY(-50%); /* Центрирование иконки строго по вертикали */

    fill: var(--color-surface-primary);
  }
}

/* Стилизация searchInput */

.searchWrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 280px; /* Задайте нужную ширину */

  input:disabled + .searchIcn {
    fill: var(--color-text-secondary);
  }

  & input {
    width: 100%;
    padding: 6px 12px 6px 41px; /* Важно: правый padding должен быть больше ширины иконки */
    transition: padding 0.3s ease;
  }

  & input:focus + .searchIcn,
  & input:not(:placeholder-shown) + .searchIcn {
    visibility: hidden;
    opacity: 0;
  }

  & input:not(:placeholder-shown),
  & input:focus {
    padding-left: 12px;
  }

  & .searchIcn {
    pointer-events: none; /* Чтобы клик по иконке проходил сквозь нее на сам инпут */

    position: absolute;
    top: 50%;
    left: 12px; /* Отступ справа внутри input */
    transform: translateY(-50%); /* Центрирование иконки строго по вертикали */

    fill: var(--color-text-disabled);

    transition: opacity 0.2s ease;
  }
}

.error {
  border: 1px solid var(--color-status-danger);
}

.textError {
  font-family: var(--font-family-primary), sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 171%;
  color: var(--color-status-danger);
}

.active {
  border: 1px solid var(--color-text-secondary);
  color: var(--color-text-disabled);
}
