.card {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 378px;
  padding: 24px;
  border: 1px solid var(--color-border-primary);
  border-radius: 2px;

  background: var(--color-surface-secondary);
}
