@import 'tailwindcss';

:root {
  --background: #fff;
  --foreground: #171717;
  --font-family-sans: arial, helvetica, sans-serif;
  --font-family-mono: 'SFMono-Regular', consolas, 'Liberation Mono', monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-family-sans);
  --font-mono: var(--font-family-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-family-sans);
  color: var(--foreground);
  background: var(--background);
}
