.aspectButtonBlock {
  position: absolute;
  bottom: 50px;
  left: 12px;

  display: flex;
  flex-direction: column;

  width: min(9.75rem, calc(100% - 1.5rem));
  min-height: 9.5rem;
  padding: 0.625rem 0.75rem;

  opacity: 0.8;
  background-color: var(--color-surface-secondary);

  & button {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 12px;
    border: none;

    color: var(--color-text-secondary);

    background: none;
  }

  & button:disabled {
    cursor: default;
  }

  & button[data-active='true'] {
    color: var(--color-text-primary);
  }
}
