.aspectButtonBlock {
  position: absolute;
  z-index: 2;
  bottom: 50px;
  left: 12px;

  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 0.75rem;

  width: min(9.75rem, calc(100% - 1.5rem));
  height: 9.5rem;
  padding: 0.625rem 0.75rem;
  border-radius: 0.125rem;

  background: color-mix(in srgb, var(--color-dark-500) 80%, transparent);
  box-shadow: 0 0.0625rem 0.25rem rgb(0 0 0 / 50%);

  & button {
    all: unset;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    min-width: 0;
    height: 1.5rem;
    border-radius: 0.125rem;

    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--color-light-900);
  }

  & button:disabled {
    cursor: default;
  }

  & button:focus-visible {
    outline: 0.125rem solid var(--color-focus);
    outline-offset: 0.125rem;
  }

  & button[data-active='true'] {
    color: var(--color-light-100);
  }
}
