.logo {
  display: inline-flex;
  gap: 6px;
  align-items: baseline;

  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-md);
  color: var(--color-text-primary);
  text-decoration: none;
  white-space: nowrap;
}

.suffix {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-base);
  color: var(--color-text-secondary);
}
