.root {
  --tabs-color-active: var(--color-accent-500);
  --tabs-color-disabled: var(--color-dark-300);
  --tabs-border-active: var(--color-accent-500);
  --tabs-border-muted: var(--color-dark-100);
  --tabs-background-active: color-mix(in srgb, var(--color-accent-100) 15%, transparent);
  --tabs-background-hover: color-mix(in srgb, var(--color-accent-900) 15%, transparent);
  --tabs-border-focus: var(--color-accent-700);

  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  width: 100%;
}

.trigger {
  all: unset;

  cursor: pointer;

  position: relative;

  flex: 1;

  box-sizing: border-box;
  min-height: 36px;
  padding: 6px 24px;
  border: 2px solid transparent;

  font-family: var(--font-family-primary), sans-serif;
  font-size: var(--typography-regular-text-16-font-size);
  font-weight: var(--font-weight-semibold);
  line-height: var(--typography-regular-text-16-line-height);
  color: var(--tabs-color-active);
  text-align: center;

  transition:
    background-color 0.15s ease,
    color 0.15s ease;
}

.trigger::after {
  content: '';

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  height: 2px;

  background-color: var(--tabs-border-active);
}

.trigger[data-state='active'] {
  background-color: var(--tabs-background-active);
}

.trigger:hover:not([data-disabled]) {
  background-color: var(--tabs-background-hover);
}

.trigger:focus-visible {
  border-color: var(--tabs-border-focus);
  border-radius: 2px;
  outline: none;
}

.trigger[data-disabled] {
  cursor: default;
  color: var(--tabs-color-disabled);
}

.trigger[data-disabled]::after {
  background-color: var(--tabs-border-muted);
}

.content {
  color: var(--color-light-100);
}
