.root {
  --tabs-color-default: var(--color-accent-500);
  --tabs-color-active: var(--color-accent-100);
  --tabs-color-disabled: var(--color-dark-300);
  --tabs-color-hover: var(--color-accent-100);
  --tabs-border-default: var(--color-accent-500);
  --tabs-border-active: var(--color-accent-100);
  --tabs-border-disabled: var(--color-dark-100);
  --tabs-background-active: color-mix(in srgb, var(--color-accent-100) 22%, transparent);
  --tabs-background-hover: color-mix(in srgb, var(--color-accent-900) 28%, transparent);
  --tabs-border-focus: var(--color-accent-700);
  --tabs-shadow-focus: color-mix(in srgb, var(--color-accent-700) 25%, transparent);
  --tabs-radius-focus: 2px;

  display: flex;
  flex-direction: column;
}

.list {
  scrollbar-color: var(--color-dark-100) transparent;
  scrollbar-width: thin;

  overflow: auto hidden;
  display: flex;

  width: 100%;
}

.trigger {
  all: unset;

  cursor: pointer;

  position: relative;

  overflow: hidden;
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  min-width: 85px;
  min-height: 36px;
  padding: 6px 24px;
  border: 2px solid transparent;

  font-family: var(--font-family-primary), sans-serif;
  font-size: var(--typography-regular-text-16-font-size);
  font-weight: var(--font-weight-semibold);
  line-height: var(--typography-regular-text-16-line-height);
  color: var(--tabs-color-default);
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;

  transition:
    background-color 0.15s ease,
    border-color 0.15s ease,
    box-shadow 0.15s ease,
    color 0.15s ease;
}

.trigger::after {
  content: '';

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  height: 2px;

  background-color: var(--tabs-border-default);

  transition: background-color 0.15s ease;
}

.trigger[data-state='active'] {
  color: var(--tabs-color-active);
  background-color: var(--tabs-background-active);
}

.trigger[data-state='active']::after {
  background-color: var(--tabs-border-active);
}

.trigger:hover:not([data-disabled]) {
  color: var(--tabs-color-hover);
  background-color: var(--tabs-background-hover);
}

.trigger[data-state='active']:hover:not([data-disabled]) {
  color: var(--tabs-color-active);
  background-color: var(--tabs-background-active);
}

.trigger:focus-visible {
  border-color: var(--tabs-border-focus);
  border-radius: var(--tabs-radius-focus);
  outline: none;
  box-shadow: 0 0 0 2px var(--tabs-shadow-focus);
}

.trigger[data-disabled] {
  cursor: default;
  color: var(--tabs-color-disabled);
}

.trigger[data-disabled]::after {
  background-color: var(--tabs-border-disabled);
}

.content {
  color: inherit;
}
