.list {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
}

.iconButton {
  padding: 0;
  border: none;
  background: transparent;
}

.iconButton svg {
  display: block;
  width: 36px;
  height: 36px;
}
