.root {
  width: 163px;
}

@media (width < 768px) {
  .root {
    width: 60px;
  }

  .trigger {
    gap: 4px;
    justify-content: center;
    padding: 6px 8px;
  }

  .valueLabel {
    display: none;
  }

  .icon {
    width: 16px;
    height: 16px;
  }

  .content {
    width: 163px;
    min-width: 163px;
  }
}
